*.elc
auto-save-list
el-get/*
!el-get/user/
elpa
ac-comphist.dat
/data
/places
/recentf
/tmp
/.emacs.desktop
/.emacs.desktop.lock
*~
/.cache/
/.dap-breakpoints
.histfile
/backups/
/bookmarks
/custom-vars.el
/ellama-sessions/
/eln-cache/
/helm-adaptive-history
*#
/lsp-cache/
/projectile-bookmarks.eld
/projects
/.lsp-session-v1
/session.*
/site/
/straight/
/tramp
/transient/
